name: .NET CI/CD

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop, main ]

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
          cache: true
          cache-dependency-path: |
            **/*.csproj
            **/*.sln
            **/packages.lock.json

      - name: Restore
        run: dotnet restore SchoolWebInternalAPI.sln

      - name: Build (Release)
        run: dotnet build SchoolWebInternalAPI.sln --no-restore -c Release

      - name: Test (Release)
        run: dotnet test SchoolWebInternalAPI.sln --no-build -c Release --verbosity normal

  publish:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: build_test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
          cache: true
          cache-dependency-path: |
            **/*.csproj
            **/*.sln
            **/packages.lock.json

      - name: Restore
        run: dotnet restore SchoolWebInternalAPI.sln

      - name: Publish API (Release)
        run: dotnet publish SchoolWebInternalAPI.Api/SchoolWebInternalAPI.Api.csproj -c Release -o ./release --no-restore

      - name: Upload Release Artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-release-build
          path: ./release
